/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import "./libs/daisyui.css";
@import "./libs/lucide.css";
@import "./libs/tailwind.css";

@import "./core/global.css";
